$transparent: rgba(0, 0, 0, 0);
$accent-color: #081c74;

$font-color-light: rgb(253, 250, 236);
$background-color: #64a1da;

$side-panel-background-color: #8d4b16;
$side-panel-background-color-second: #7c481d;
$side-panel-background-accent: #d4b781;
$side-panel-background-accent-second: #9e8962;
$side-panel-accent-color: #dadb78;
