@import './basic.scss';
@import './fonts.scss';
@import './colors.scss';

html {
    background-color: $background-color;
}

app-root {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 100%;
    background-color: $background-color;
    color: #fff;
}