.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .map-canvas {
    overflow: hidden;
  }
}

.map-inner-container {
  display: flex;
  flex-direction: row;
  background-color: #5656aa;
  width: 100%;
  height: 100%;

  .map-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    
    .map-tile {
      flex: 1;
      height: 100%;
      border: 1px solid #000;
      background-repeat: no-repeat;
      background-clip: border-box;
    }

    img {
      background-color: #000;
      border: solid;
      vertical-align: bottom;
    }
    
  }

  .map-row:nth-child(odd) {
   margin-bottom: 0;
  }

  .map-row:nth-child(even) {
    margin-bottom: 0;
    margin-top: 10%;
    margin-left: -10%;
   }
}

.map-tile:hover {
  filter: brightness(1.5);
  background-color: #7878dd;
  border: 1px solid #fff;
}