.user-page-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    .map-section {
        flex: 10;
        height: 100%;
    }

    .left-side-section {
        left: 0;
        width: 25%;
    }

    .right-side-section {
        right: 0;
        width: 20%;
    }
    
    .left-section-hidden {
        left: -24%;
    }
    
    .right-side-section.hidden-section {
        right: -19% !important;
    }
    

}